.productList {
    border-radius: 0.5rem;
    background-color: #F9F9F9;
   /* margin: 8px 0; */
   padding: 16px 8px;
}
.spinner {
    padding: 1rem;
    text-align: center;
}
.categorie-list__wrapper {
    margin: 8px 0 16px 0;
    display: flex;
    overflow: auto;

}
.categories {
    padding: 8px;
    margin: 0 4px;
    color: #585858;
    text-transform: uppercase;
    border-radius: 40px;
    background: #F3F3F3;
    font-weight: 500;
    transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;
    cursor: pointer;
}

.categories.active {
    background: #FFF;
    /* box-shadow: 0px 4px 46px 0px rgba(0, 0, 0, 0.6); */

    color: #000;
}

.categories:hover {
    background: #FFF;
    box-shadow: 0px 4px 46px 0px rgba(0, 0, 0, 0.10);
    color: #000;
}
@media (max-width: 500px) {
    .productList {
       padding: 8px;
    }
    .categorie-list__wrapper {
        margin-top: 0;
    }
    .categorie-list__wrapper {
        padding-bottom: 10px;
        margin-bottom: 0;
    
    }

}